<h1>Products Available</h1>
<div>
    <% if @products.empty? %>
        <h2> No Products Found.</h2>
    <% else %>
        <h1><%= @products.size %> Product Found. </h2>
    <% end %>

    <%= render partial: 'product/product', 
        collection: @products,
        locals: { show_link: true } %>
    <%= paginate @products %>
</div>
