<nav id = "nav">
    <ul id="list">
    <li><a href="http://localhost:3000/product">Home</a></li>
    <li><a href="http://localhost:3000/pages/about">About</a></li>
    <li><a href="http://localhost:3000/product">Shop</a></li>
    <li><a href="http://localhost:3000/search">Search</a></li>
    </ul>
</nav>