<h1>ESportShop</h1>

<% @product_collection.each do |product| %>
    <div class="product">
        <p>
            <b>Name: </b> <%= product.productName %>
        </p>
        <p>
            <b>Price: </b> <%= product.productCost %>
        </p>
    </div>
<% end %>
