<% @product_collection.each do |product| %>
    <div class="product">
        <h3>
            <%= product.productStyle %> <%= link_to product.productName,  product %> 
        </h3>
        <% if product.productImage.present? %>
            <p>
                <%= image_tag product.productImage %>
            </p>
        <% end %>
        <p>
            <b>Price: </b> <%= product.productCost %>
        </p>
    </div>
<% end %>
